@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro:wght@300;400;500&display=swap');


:root {
    --font-color: #f1f3f5;
    --background-color: #090e22;
    --transition-color: #fff;
    --blue-mid: #1d1e33;
    --gray: #444;
    --yellow: #FDB44B;
    --background-footer: linear-gradient(to bottom, #495057, #212529);

    --font-main: 'Source Code Pro', monospace;
    --font-second: 'Bebas Neue', cursive;
}

.dark {

    --font-color: #212D3A;
    --blue-mid: #1d1e33;
    --background-color: #f1f3f5;
    --transition-color: #212D3A;
    --gray: #444;
    --yellow: #FDB44B;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
  }
  
  body::after {
    content: "";
    /* background-color: var(--blue-mid); */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: background 0.2s linear;
  }


  .theme {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
  }

  body.dark {
    background: var(--background-color);
  }

  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  }

  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }

  .fa-moon {
    color: #f1c40f;
  }

  .fa-sun {
    color: #f39c12;
  }

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

svg {
    color: var(--font-color);
    height: 100%;
    width: 10rem;
}

.header_title {
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--font-second);
    color: var(--font-color);
}

.container {
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    padding: 2rem 4rem;
    gap: 1rem;

}

.input_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.output_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
}

.input_box {
    background: var(--background-color);
    resize: none;
    border: 1px solid var(--font-color);
    border-radius: 15px;
    color: var(--font-color);
    text-transform: lowercase;
    width: 90%;
    height: 80%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;
}

::placeholder {color: var(--font-color);}
    .input_box:focus{
        outline: none;
    }

.output_box {
    resize: none;
    border: 1px solid var(--font-color);
    border-radius: 15px;
    color: var(--font-color);
    text-transform: lowercase;
    background-color: var(--background-color);
    width: 90%;
    height: 80%;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5rem;

}

.output_box:focus {
    outline: none;
}

.right_buttons {
    display: flex;
    flex-direction: column;
}

.decrypt-btn {
    /* background: var(--background-color);
    border: 1px solid var(--font-color);
    border-radius: 15px;
    color: var(--font-color); */
    background-color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 15px;
    color: var(--background-color);
    cursor: pointer;
    margin-left: 1.5rem;
    height: 5vh;
    width: 25vh;
    font-size: 1.8rem;
    flex-grow: 1;
    flex-shrink: 1;
    opacity: 0.9;
}

.encrypt-btn {
    background-color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 15px;
    color: var(--background-color);
    cursor: pointer;
    height: 5vh;
    width: 25vh;
    font-size: 1.8rem;
    flex-grow: 1;
    flex-shrink: 1;
    opacity: 0.9;
}

.left_buttons {
    display: flex;
    flex-direction: row;
}

.copy-btn {
    background-color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 15px;
    color: var(--background-color);
    cursor: pointer;
    height: 5vh;
    width: 15vh;
    font-size: 1.8rem;
    flex-grow: 1;
    flex-shrink: 1;
    opacity: 0.9;
}

.transition {
    transition: transform 0.2s;
    transition: background-color 0.2s;
    transition: opacity 0.2s;
}

.transition:hover {
    transform: scale(1.1);
    background-color: var(--transition-color);
    opacity: 100%;
}

.footer_container {
    display: flex;
    justify-content: center;
    position: fixed;
    gap: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.75rem;
    width: 100%;
    background-image: var(--background-footer);
}

.github-icon {
    width: 100%;
    height: 3.75rem;
    align-self: center;
}

.linkedin-icon {
    width: 100%;
    height: 3.75rem;
    align-self: center;
}

@media (max-width: 1100px) {
    svg {
        height: 90%;
    }

    .header_title {
        font-size: 3.5rem;
    }

    .footer_container {
        height: 2.5rem;
    }

    .linkedin-icon {
        height: 2.5rem;
    }

    .github-icon {
        height: 2.5rem;
    }

}

@media (max-width: 660px) {

    svg {
        display: none;
    }

    .header_title {
        font-size: 3rem;
    }

    .footer_container {
        height: 2.5rem;
    }

    .linkedin-icon {
        height: 2.5rem;
    }

    .github-icon {
        height: 2.5rem;
    }

    .container {
        flex-direction: column;
    }

    .input_section {
        display: flex;
        flex-wrap: wrap;
        height: 50%;
    }
    
    .output_section {
        display: flex;
        flex-wrap: wrap;
        height: 50%;
        margin-top: 40px;
    }

    .output_box {
        margin-top: 0;
        background-size: 100px;
    }

    .input_box {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .left_buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 9.5px;
        gap: 7px;
    }


    .encrypt-btn {
        height: 5vh;
        width: 100%;
        padding: 3px;
        font-size: 1.5rem;
    }
    
    .decrypt-btn {
        height: 5vh;
        width: 100%;
        margin-left: 0;
        padding: 3px;
        font-size: 1.5rem;
    }

    .copy-btn {
        height: 5vh;
        width: 100%;
        padding: 5px;
        font-size: 1.5rem;
    }


}


